.clear {
	display: block;
	clear: both;
}

body {
	margin: 0;
}

#header {
}

#nav1 {
	padding: 5px;
}

#nav2 {
	background-color: #ddd;
	padding-left: 5px;
	padding-right: 5px;
	border-top: 1px dotted #abc;
}

#flash p.flash-message {
	background-color: #ddf;
}
#flash p.flash-info {
	background-color: #dfd;
}
#flash p.flash-warnint {
	background-color: #ffd;
}
#flash p.flash-error, .error, .errors li {
	background-color: #fdd;
}

h1 {
	margin: 5px;
}

#content {
	margin: 5px;
}

form ul {
	list-style-image: none;
	padding: 0;
}
form ul li {
	display: block;
}
form input[type=text], form select {
	width: 100%;
}

div.quote {
	border: 1px solid #ccc;
	margin-bottom: 5px;
}
div.quote h3, div.quote pre, div.quote p {
	margin: 0;
}
div.quote h3 {
	background-color: #ffd;
	font-size: 10pt;
	font-weight: normal;
}
div.quote pre {
	background-color: #dfd;;
}
div.quote.offensive pre {
	background-color: #fdd;
}
div.quote {
	background-color: #eef;
}
div.quote p.moderation {
	background-color: #fee;
	border-top: 1px dotted #faf;
	font-size: 10pt;
}
div.quote p, div.quote .small {
	font-size: 8pt;
}
div.quote span.right {
	float: right;
}

div.quote span.abyss, div.quote span.approved, div.quote span.rejected,
div.quote span.fromWeb, div.quote span.fromConsole{
	font-weight: bold;
	padding: 1px;
	padding-top: 0;
}
div.quote span.abyss {
	background-color: #008;
	color: #ccf;
}
div.quote span.approved {
	background-color: green;
	color: #8f8;
}
div.quote span.rejected {
	background-color: black;
	color: #f88;
}
div.quote span.fromWeb {
	background-color: white;
	color: black;
}
div.quote span.fromConsole {
	background-color: black;
	color: #3f3;
}

span.disabled {
	color: #88f;
}
