#flash p .flash-message {
	background: #ddf;
}
#flash p .flash-info {
	background: #dfd;
}
#flash p .flash-warnint {
	background: #ffd;
}
#flash p .flash-error, .error, .errors li {
	background: #fdd;
}
