.clear {
	display: block;
	clear: both;
}

body {
	margin: 0;
}

#header {
}

#nav1 {
	padding: 5px;
}

#nav2 {
	background-color: #ddd;
	padding-left: 5px;
	padding-right: 5px;
	border-top: 1px dotted #abc;
}

#flash p.flash-message {
	background: #ddf;
}
#flash p.flash-info {
	background: #dfd;
}
#flash p.flash-warnint {
	background: #ffd;
}
#flash p.flash-error, .error, .errors li {
	background: #fdd;
}

h1 {
	margin: 5px;
}

#content {
	margin: 5px;
}

form ul {
	list-style-image: none;
	padding: 0;
}
form ul li {
	display: block;
}
form input[type=text], form select {
	width: 100%;
}

div.quote {
	border: 1px solid #ccc;
	margin-bottom: 5px;
}
div.quote h3, div.quote pre, div.quote p {
	margin: 0;
}
div.quote h3 {
	background: #ffd;
	font-size: 10pt;
	font-weight: normal;
}
div.quote pre {
	background: #dfd;;
}
div.quote.offensive pre {
	background: #fdd;
}
div.quote {
	background: #eef;
}
div.quote p.moderation {
	background: #fee;
	border-top: 1px dotted #faf;
	font-size: 10pt;
}
div.quote p, div.quote .small {
	font-size: 8pt;
}
div.quote span.right {
	float: right;
}
