<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="ru">
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
	<title>{% block title %}{% endblock %} - Gentoo.Ru Fortunes</title>
	<link rel='stylesheet' type='text/css' href="{{ url_for('.static', filename='style.css') }}"/>
	{% block head %}{% endblock %}
</head>
<body>
	<div id='header'>
		<div id='nav1'>
			<a href="{{ url_for('main.index') }}">Главная</a>
			<a href="{{ url_for('quote.add') }}">Прислать цитату</a>
			<a href="{{ url_for('qlist.index') }}">Все цитаты</a>
			<a href="{{ url_for('abyss.index') }}">Бездна</a>
			<a href="{{ url_for('users.index') }}">Пользователи</a>
			<a href="{{ url_for('releases.index') }}">Релизы</a>
			|
			{% if g.user %}
			В системе как <a href="{{ url_for('users.profile', nick=g.user.nick) }}">{{ g.user.nick }}</a>
			<a href="{{ url_for('login.logout') }}">Выход</a>
			{% else %}
			<a href="{{ url_for('login.index') }}?next={{ request.base_url }}">Вход</a>
			{% endif %}
		</div>
		<div id='nav2'>{% block nav %}{% endblock %}</div>
	</div>
<div id='content'>
<div id='flash'>
{% for category, msg in get_flashed_messages(with_categories=True) %}
<p class='flash-{{ category }}'>{{ msg }}</p>
{% endfor %}
</div>
{% block content %}{% endblock %}
</div>
</body>
</html>
{# vim: set syntax=htmljinja: #}
