<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
	<title>{% block title %}{% endblock %} - Gentoo.Ru Fortunes</title>
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}"/>
	{% block head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
{# vim: set syntax=htmljinja: #}
