{% extends "layout.html" %}

{% block title %}Главная{% endblock %}

{% block head %}
<link rel='stylesheet' type='text/css' href="{{ url_for('.static', filename='MODULE.css') }}" />
{% endblock %}

{% block content %}
<h1>Цитатник Gentoo.Ru</h1>
<p>Добро пожаловать!</p>
<p>Здесь лежат цитаты с форума <a href='http://gentoo.ru/forum'>gentoo.ru</a>
и из jabber-конференции <a href="xmpp:gentoo@conference.gentoo.ru">gentoo@conference.gentoo.ru</a>,
а также из иных мест общения русскоязычных гентушников.</p>
<p>На данный момент у нас есть:</p>
<ul>
	<li>Цитат: {{ quotes.count() }}
	(из них в <a href="{{ url_for('abyss.index') }}">бездне</a>: {{ quotes.filter_by(state=0).count() }},
	<a href="{{ url_for('qlist.index') }}">одобрено</a>: {{ quotes.filter_by(state=1).count() }}{% if g.user and g.user.is_approver() %},
	<a href="{{ url_for('qlist.index') }}">отклонено</a>: {{ quotes.filter_by(state=2).count() }}
{% endif %}
	)</li>
	<li><a href="{{ url_for('users.index') }}">Пользователей</a>: {{ users.count() }}</li>
	<li>Комментариев: {{ comments.count() }}</li>
	<li><a href="{{ url_for('releases.index') }}">Релизов</a>: {{ releases.count() }}</li>
</ul>

<h3>Лицензия</h3>
<div class="spoiler">
<p>Все права на цитаты принадлежат их авторам. Права на любые упомянутые торговые марки принадлежат соответствующим лицам или компаниям.</p>
<p>Администрация оставляет за собой право вносить поправки в цитаты, руководствуясь собственными соображениями (будь то эстетические, грамматические или иные) и исключать цитаты из базы данных.</p>
<p>Цитаты распространяются по принципу КАК ЕСТЬ (AS-IS), без каких-либо гарантий (явных или подразумеваемых).</p>
</div>
<h3>Обратная связь</h3>
<p>При обнаружении в цитатнике багов, проблем, нарушений авторского права и прочих неурядиц
просьба сообщить об этом администрации цитатника.
Сделать это можно следующими способами:</p>
<ul>
	<li><a href="https://github.com/MarSoft/gruf/issues">Багтрекер</a> <a href="https://github.com/MarSoft/gruf">проекта</a> на GitHub</li>
	<li>электронная почта админа marsoft -at- ya.ru</li>
	<li>тема на форуме <a href="http://www.gentoo.ru/node/16774">gentoo.ru</a></li>
	<li>конференция <a href="xmpp:gentoo@conference.gentoo.ru">gentoo@conference.gentoo.ru</a></li>
	<li>jabber админа <a href="xmpp:marsoft@jabber.ru">marsoft@jabber.ru</a></li>
	<li><a href="http://habahaba.im/MarSoft">HabaHaba</a></li>
</ul>
{% endblock %}

{# vim: set ft=htmljinja: #}
