{% extends "layout.html" %}

{% block title %}Главная{% endblock %}

{% block head %}
<link rel='stylesheet' type='text/css' href="{{ url_for('.static', filename='MODULE.css') }}" />
{% endblock %}

{% block content %}
<h1>Цитатник Gentoo.Ru</h1>
<p>Добро пожаловать!</p>
<p>Здесь лежат цитаты с форума <a href='http://gentoo.ru/forum'>gentoo.ru</a>
и из jabber-конференции <a href="xmpp:gentoo@conference.gentoo.ru">gentoo@conference.gentoo.ru</a>,
а также из иных мест общения русскоязычных гентушников.</p>
<p>На данный момент у нас есть:</p>
<ul>
	<li>Цитат: {{ quotes.count() }}
	(из них в <a href="{{ url_for('abyss.index') }}">бездне</a>: {{ quotes.filter_by(state=0).count() }},
	<a href="{{ url_for('qlist.index') }}">одобрено</a>: {{ quotes.filter_by(state=1).count() }}{% if g.user and g.user.is_approver() %},
	<a href="{{ url_for('qlist.index') }}">отклонено</a>: {{ quotes.filter_by(state=2).count() }}
{% endif %}
	)</li>
	<li><a href="{{ url_for('users.index') }}">Пользователей</a>: {{ users.count() }}</li>
	<li>Комментариев: {{ comments.count() }}</li>
	<li><a href="{{ url_for('releases.index') }}">Релизов</a>: {{ releases.count() }}</li>
</ul>

<h3>Лицензия</h3>
<p>Все права на цитаты принадлежат их авторам. Права на любые упомянутые торговые марки принадлежат соответствующим лицам или компаниям.</p>
<p>Администрация оставляет за собой право вносить поправки в цитаты, руководствуясь собственными соображениями (будь то эстетические, грамматические или иные) и исключать цитаты из базы данных.</p>
<p>Цитаты распространяются по принципу КАК ЕСТЬ (AS-IS), без каких-либо гарантий (явных или подразумеваемых).</p>
{% endblock %}

{# vim: set syntax=htmljinja: #}
