{% extends "layout.html" %}

{% block title %}Профиль пользователя {{ user.nick }}{% endblock %}

{% block head %}
<link rel='stylesheet' type='text/css' href="{{ url_for('.static', filename='profile.css') }}" />
{% endblock %}

{% block content %}
  <h1>Пользователь <a href="{{ url_for('profile', nick=user.nick) }}">{{ user.nick }}</a></h1>
  {% if g.user and g.user.is_admin() or user == g.user %}{# если админ или если это свой же профиль #}
  <a href="{{ url_for('edit', nick=user.nick) }}">Редактировать</a>
  {% endif %}
  <table>
	  <tr>
		  <td>Имя:</td>
		  <td>{{ user.nick }}
		  {% if user.openid and user.openid.find('gentoo.ru/users/') >= 0 %}{# openid с gentoo.ru #}
		  (<a href="{{ user.openid.replace('/identity','') }}">на Gentoo.Ru</a>)
		  {% endif %}
		  </td>
	  </tr>
	  <tr>
		  <td>Зарегистрирован:</td>
		  <td>{{ user.registered.strftime('%d.%m.%Y %H:%M') }}</td>
	  </tr>
	  <tr>
		  <td>Последний вход:</td>
		  <td>{{ user.lastlogin.strftime('%d.%m.%Y %H:%M') }}</td>
	  </tr>
	  <tr>
		  <td>Права:</td>
		  <td>{{ {0:'присылающий', 1:'аппрувер', 2:'релизер', 3:'админ', -1:'баня'}[user.rights] }}</td>
	  </tr>
	  <tr>
		  <td>Права комментирования:</td>
		  <td>{{ {0:'комментатор', 1:'модератор', -1:'баня'}[user.canComment] }}</td>
	  </tr>
	  {% if g.user and g.user.is_admin() or user == g.user %}{# если админ или если это свой же профиль #}
	  <tr>
		  <td>Показывать offensive по умолчанию:</td>
		  <td>{{ ['нет', 'да'][user.showOffensiveByDefault] }}</td>
	  </tr>
	  {% endif %}
	  <tr>
		  <td>Прислал цитат:</td>
		  <td>{{ user.sent.count() }}
		  {% if user.sent.count() %}
		  (<a href="{{ url_for('qlist.sent_by', nick=user.nick) }}">список</a>)
		  {% endif %}
		  </td>
	  </tr>
	  {% if user.is_approver() or user.approved.count() %}{# если может аппрувить в принципе или уже не может, но успел что-то зааппрувить #}
	  {% if user.approved.count() %}
	  <tr>
		  <td>Одобрил цитат:</td>
		  <td>{{ user.approved.count() }}
		  {% if user.approved.count() %}
		  (<a href="{{ url_for('qlist.approved_by', nick=user.nick) }}">список</a>)
		  {% endif %}
		  </td>
	  </tr>
	  {% else %}
	  <tr>
		  <td>Одобрил цитат:</td><td>0</td>
	  </tr>
	  {% endif %}
	  {% endif %}
  </table>
{% endblock %}

{# vim: set syntax=htmljinja: #}
