<div class='quote'>
<h3><a href='{{ url_for('quote.index', qid=quote.id) }}'>Цитата #{{ quote.id }}</a></h3>
<pre>{{ quote.text }}
		-- {{ quote.author }} ({{ quote.source }})</pre>
<p>Цитату прислал <a href="{{ url_for('users.profile', nick=quote.sender.nick) }}">{{ quote.sender.nick }}</a>
в {{ quote.senddate.strftime('%H:%M %d.%m.%Y') }}{% if quote.approver %},
одобрил <a href="{{ url_for('users.profile', nick=quote.approver.nick) }}">{{ quote.approver.nick }}</a>
{% if quote.approvedate %} в {{ quote.approvedate.strftime('%H:%M %d.%m.%Y') }}{% endif %}
{% endif %}</p>
<p>Оскорбительная: {{ ['неизвестно', 'да', 'нет'][quote.offensive] }}</p>
{% if g.user %}
{%   if g.user.is_approver() and (not quote.is_approved() and not quote.is_rejected()) %}
<a href="{{ url_for('quote.approve', qid=quote.id) }}">Одобрить</a>
<a href="{{ url_for('quote.reject', qid=quote.id) }}">Отклонить</a>
|
{%   endif %}
{%   if g.user.is_admin() or (not quote.is_approved() and (g.user.is_approver() or g.user == quote.sender)) %}
<a href="{{ url_for('quote.edit', qid=quote.id) }}">Правка</a>
{%   endif %}
{%   if (quote.is_approved() and g.user.is_admin())
	or (not quote.is_approved() and (g.user == quote.sender or g.user.is_admin())) %}
<a href="{{ url_for('quote.delete', qid=quote.id) }}">Удалить</a>
{%   endif %}
{% endif %}
</div>
{# vim: set syntax=htmljinja: #}
