{% extends "layout.html" %}

{% block title %}Цитата #{{ quote.id }}{% endblock %}

{% block head %}
<link rel='stylesheet' type='text/css' href="{{ url_for('.static', filename='quote.css') }}" />
{% endblock %}

{% block nav %}
{% if quote.is_approved() %}
<a href="{{ url_for('qlist.index') }}">{# FIXME: offensive, пагинация #}
{% else %}
<a href="{{ url_for('abyss.index') }}">
{% endif %}
К списку</a>
{% endblock %}

{% block content %}
<h1>Цитата #{{ quote.id }}</h1>
{% include "quote.part.html" %}
<h2><a name='comments'></a>Комментарии</h2>
<i>TODO</i>
{% endblock %}

{# vim: set syntax=htmljinja: #}
