{% extends "layout.html" %}

{% block title %}
{% if quote %}Правка цитаты #{{ quote.id }}
{% else %}Новая цитата{% endif %}
{% endblock %}

{% block head %}
<link rel='stylesheet' type='text/css' href="{{ url_for('.static', filename='quote.css') }}" />
{% endblock %}

{% block content %}
<h1>
{% if quote %}Правка цитаты #{{ quote.id }}
{% else %}Новая цитата{% endif %}
</h1>
<form action="" method="post">
<table>
{% macro render_field(field) %}
	<tr>
		<td>{{ field.label }}</td>
		<td>{{ field(**kwargs)|safe }}</td>
	{% if field.errors %}
		<td class='errors'>
			<ul>
			{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
			</ul>
		</td>
	{% endif %}
	</tr>
{% endmacro %}
{% if quote %}{# редактор #}
	<tr>
		<td>ID</td>
		<td>{{ quote.id }}</td>
	</tr>
{%   if g.user and g.user.is_admin() %}
	{{ render_field(form.state) }}
{%   else %}
	<tr>
		<td>Статус</td>
		<td>{{ ('Бездна','Одобрено','Отклонено')[quote.state] }}
{%   if g.user.is_approver() and (not quote.is_approved() and not quote.is_rejected()) %}
|
<a href="{{ url_for('quote.approve', qid=quote.id) }}">Одобрить</a>
<a href="{{ url_for('quote.reject', qid=quote.id) }}">Отклонить</a>
{%   endif %}
		</td>
	</tr>
{%   endif %}
{% endif %}
	{{ render_field(form.text) }}
	{{ render_field(form.author) }}
	{{ render_field(form.source) }}
	{{ render_field(form.prooflink) }}
{% if quote %}{# редактор #}
	<tr>
		<td>Прислал</td>
		<td>{{ quote.sender.nick }}, {{ quote.senddate.strftime('%H:%M %d.%m.%Y') }}</td>
	</tr>
{%   if quote.approver %}
	<tr>
		<td>Одобрил</td>
		<td>{{ quote.approver_id }}{% if quote.approvedate %},
			{{ quote.approvedate.strftime('%H:%M %d.%m.%Y') }}{% endif %}</td>
	</tr>
{%   endif %}
{% endif %}
	{{ render_field(form.offensive) }}
	<tr>
		<td></td>
{% if quote %}{# редактор #}
		<td><input type='submit' value='Изменить'/></td>
{% else %}
		<td><input type='submit' value='Добавить'/></td>
{% endif %}
	</tr>
</table>
</form>
{% if quote and g.user %}
{% if (quote.is_approved() and (g.user == quote.approver or g.user.is_admin()))
	or (g.user == quote.sender or g.user.is_approver()) %}
<a href="{{ url_for('quote.delete', qid=quote.id) }}">Удалить</a>
{% endif %}
{% endif %}
{% endblock %}

{# vim: set syntax=htmljinja: #}
