{% extends "layout.html" %}

{% block title %}
{% if quote %}Правка цитаты #{{ quote.id }}
{% else %}Новая цитата{% endif %}
{% endblock %}

{% block head %}
<link rel='stylesheet' type='text/css' href="{{ url_for('.static', filename='quote.css') }}" />
{% endblock %}

{% block content %}
<h1>
{% if quote %}Правка цитаты #{{ quote.id }}
{% else %}Новая цитата{% endif %}
</h1>
<form action="" method="post">
<table>
{% macro render_field(field) %}
	<tr>
		<td>{{ field.label }}</td>
		<td>{{ field(**kwargs)|safe }}</td>
	{% if field.errors %}
		<td class='errors'>
			<ul>
			{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
			</ul>
		</td>
	{% endif %}
	</tr>
{% endmacro %}
{% if quote %}{# редактор #}
{%   if g.user and g.user.is_admin() %}
	{{ render_field(form.state) }}
{%   else %}
	<tr>
		<td>Статус</td>
		<td>{{ ('Бездна','Одобрено','Отклонено')[quote.state] }}</td>
	</tr>
{%   endif %}
{% endif %}
	{{ render_field(form.text, rows=5, cols=80) }}
	{{ render_field(form.author) }}
	{{ render_field(form.source) }}
	{{ render_field(form.prooflink) }}
{% if quote %}{# редактор #}
	<tr>
		<td>Прислал</td>
		<td>{{ quote.sender.nick }} в {{ quote.senddate.strftime('%H:%M %d.%m.%Y') }}
			через <i>{{ ('??', 'сайт', 'клиент')[quote.sentFrom] }}</i></td>
	</tr>
{%   if quote.approver %}
	<tr>
		<td>Одобрил</td>
		<td>{{ quote.approver_id }}{% if quote.approvedate %} в
			{{ quote.approvedate.strftime('%H:%M %d.%m.%Y') }}{% endif %}</td>
	</tr>
{%   endif %}
{% endif %}
	{{ render_field(form.offensive) }}
	<tr>
		<td></td>
		<td><input type='submit' value='Просмотр'/></td>
	</tr>
</table>
</form>

{% if quote and g.user %}
{% if (quote.is_approved() and (g.user == quote.approver or g.user.is_admin()))
	or (g.user == quote.sender or g.user.is_approver()) %}
<a href="{{ url_for('quote.delete', qid=quote.id) }}">Удалить</a>
{% endif %}
{% endif %}

{% if preview %}
<h2>Цитата будет выглядеть так:</h2>
{% set quote = preview %}
{% include "quote.part.html" %}
<noscriptx>
{% macro render_hidden(field) %}
<input type="hidden" name="{{ field.name }}" value="{{ field.data }}"/>
{% endmacro %}
<form method="post" action="">
	{{ render_hidden(form.text) }}
	{{ render_hidden(form.author) }}
	{{ render_hidden(form.source) }}
	{{ render_hidden(form.prooflink) }}
	<input type="hidden" name="checked" value="checked"/>
{% if form.state %}{# редактор #}
	{{ render_hidden(form.state) }}
	{{ render_hidden(form.offensive) }}
	<input type='submit' value='Изменить'/>
{% else %}
	{% if form.offensive.data %}
	<input type='hidden' name='offensive' value='on'/>
	{% endif %}
	<input type='submit' value='Добавить'/>
{% endif %}
</form>
</noscript>
{% endif %}
{% endblock %}

{# vim: set syntax=htmljinja: #}
