{% extends "layout.html" %}

{% block title %}Релизы{% endblock %}

{% block head %}
<link rel='stylesheet' type='text/css' href="{{ url_for('.static', filename='MODULE.css') }}" />
{% endblock %}

{% block nav %}
<a href="{{ url_for('rss') }}"><img src="{{ url_for('.static', filename='rss.png') }}"/>RSS</a>
{% endblock %}

{% block content %}
<h1>Релизы</h1>
<div class="spoiler">
<p>Здесь приведён список тарболлов (релизов) с подборками цитат на разные моменты времени.
Этот список отражает историю развития цитатника.</p>
<p>Цитаты даны в формате, совместимом с программой <a href="http://www.redellipse.net/code/fortune">fortune-mod</a>.
Для каждой версии приведено два файла: один содержит общеприемлемые цитаты, другой - грубые (оскорбительные).
Полный набор цитат пожно получить после конкатенации этих файлов (разумеется, сначала их надо распаковать).</p>
<p>Это может быть выполнено автоматически ebuild-ом, который скоро появится в оверлее <a href="http://code.google.com/p/rion-overlay/">rion</a>.</p>
</div>
<h3>Статистика по цитатам</h3>
{% if latest %}
<table>
	<tr><td>В последнем релизе:</td><td>{{ latest.count }}+{{ latest.offencount }}
			(скачать: <a href="{{ url_for('qlist.offensive', offense='no', mod='fortunes.gz') }}">base</a>,
			<a href="{{ url_for('qlist.offensive', offense='only', mod='fortunes.gz') }}">offensive</a>)</td></tr>
	<tr><td>Всего в базе данных:</td><td> {{ qcount }}+{{ offencount }}</td></tr>
	<tr><td>Не вошло в релизы:</td><td> {{ qcount-latest.count }}+{{ offencount-latest.offencount }}={{ qcount+offencount-latest.count-latest.offencount }}</tr></td>
</table>
{% else %}
<p class="error">Ошибка: нет ни одного релиза, невозможно подсчитать статистику!</p>
{% endif %}
{% if g.user and g.user.is_releaser() %}
<a href="{{ url_for('create') }}">Создать релиз</a>
{% endif %}
<table border='1'>
	<tr>
		<th>Дата</th>
		<th>Версия</th>
		<th title='Обычных + грубых'>Число цитат</th>
		<th>В дереве</th>
		<th>Скачать</th>
	</tr>
	{% for release in releases %}
	<tr>
		<td><a name="v{{ release.version }}"></a>{{ release.birthDate.strftime('%d.%m.%Y %H:%M') }}</td>
		<td>{{ release.version }}</td>
		<td>{{ release.count }}+{{ release.offencount }}</td>
		<td>{{ ['Нет', 'Да'][release.inTree] }}
		{% if g.user and g.user.is_releaser() %}
		<i>
		{%   if not release.inTree %}
		<a href="{{ url_for('bumped', ver=release.version) }}">Уже да!</a>
		{%   else %}
		<a href="{{ url_for('unbump', ver=release.version) }}">Ой, нет...</a>
		{%   endif %}
		</i>
		{% endif %}
		</td>
		<td><a title='Основной набор цитат' href="{{ url_for('.static', filename='releases/'+release.filename(False)) }}">base</a>
			<a title='Цитаты грубого содержания' href="{{ url_for('.static', filename='releases/'+release.filename(True)) }}">offensive</a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}

{# vim: set syntax=htmljinja: #}
