{% extends "layout.html" %}

{% block title %}Релизы{% endblock %}

{% block head %}
<link rel='stylesheet' type='text/css' href="{{ url_for('.static', filename='MODULE.css') }}" />
{% endblock %}

{% block content %}
<h1>Релизы</h1>
{% if g.user and g.user.is_releaser() %}
<a href="{{ url_for('releases.create') }}">Создать</a>
{% endif %}
<table border='1'>
	<tr>
		<th>Дата</th>
		<th>Версия</th>
		<th title='Обычных + грубых'>Число цитат</th>
		<th>В дереве</th>
		<th>Скачать</th>
	</tr>
	{% for release in releases %}
	<tr>
		<td>{{ release.birthDate.strftime('%d.%m.%Y %H:%M') }}</td>
		<td>{{ release.version }}</td>
		<td>{{ release.count }}+{{ release.offencount }}</td>
		<td>{{ ['Нет', 'Да'][release.inTree] }}
		{% if g.user and g.user.is_releaser() %}
		<i>
		{%   if not release.inTree %}
		<a href="{{ url_for('bumped', ver=release.version) }}">Уже да!</a>
		{%   else %}
		<a href="{{ url_for('unbump', ver=release.version) }}">Ой, нет...</a>
		{%   endif %}
		</i>
		{% endif %}
		</td>
		<td><a title='Основной набор цитат' href="{{ url_for('.static', filename='releases/'+release.filename(False)) }}">base</a>
			<a title='Цитаты грубого содержания' href="{{ url_for('.static', filename='releases/'+release.filename(True)) }}">offensive</a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}

{# vim: set syntax=htmljinja: #}
